 <!-- Copyright 2016 Tahir Rauf. All rights reserved.
 This code is under Open Source license and anyone can use it 
 Author: Tahir Rauf <tahir.abdul.rauf@gmail.com> -->
 
<html>
    <head>
        <title>Employee Details</title>
    </head>
    <body>
        <p><b>Employee Details</b></p>  

            <p><div> Employee #: <b>{{.EmployeeNumber}}</b></div></p>
            <p><div> First Name: <b>{{.FirstName}}</b></div></p>
            <p><div> Last Name: <b>{{.LastName}}</b></div></p>
            <p><div> Joining Date <b>{{.DateInserted}}</b></div></p>
 
       <p>[<a href="/">View all employees</a>]</p>

    </body>
</html>